.container {
    margin: 0;
    padding: 0;
    background-image: url('../img//fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.senha {
    display: flex;
    flex-direction: column;
    background-color: rgb(177, 193, 245);
    border-radius: 5px;
    width: 400px;
    padding: 20px;
}